<head>
  <title>Backbone Test</title>
  <script src="deps.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script src="core.js"></script>
</head>
<body>
  <div id="toggle" style="width:100%;height:1.5em;"></div>
  <div id="body"></div>
</body>